page-contactus {
 .center{
     text-align:center;
}
ion-content {
     background-image: url('../assets/imgs/background.png');
    background-position: center;
    background-size: cover;
}
.item-md {
    background-color: transparent !important;
}
ion-input{
    color: white;
}
ion-textarea{
     color: white;
}
.summitbutton{
    color: #fff;
    background-color: transparent;
    border: #fff 1px solid;
    width: 100%;
}
.invalid{
    border-bottom: 1px solid #ea6153;
}
ion-title{
    font-size: xx-large;
    color:white;
    font-weight: bold;
}
toolbar-background-md{
    background-color: transparent !important;
}
}
