<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header transparent>
  <ion-navbar transparent style="background-color: #050704;">
    <ion-title style="margin-left: 15%;">
      <h1 style="color: #fff !important">Forgot Password</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="forgotPasswordForm">
    <ion-list transparent>
  <ion-item style="background: transparent !important">
    <ion-label style="color: #ffffff" floating>Email Address</ion-label>
    <ion-input style="color:#ffffff" type="email" [(ngModel)]="user.email" formControlName="email" [class.invalid]="!forgotPasswordForm.controls.email.valid && (forgotPasswordForm.controls.email.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item style="background: transparent !important">
    <ion-label style="color: #ffffff" floating>Confirm Email Address</ion-label>
    <ion-input style="color:#ffffff" type="email" [(ngModel)]="user.confirmEmail" formControlName="confirmEmail" [class.invalid]="!forgotPasswordForm.controls.confirmEmail.valid && (forgotPasswordForm.controls.confirmEmail.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item style="display: none;"></ion-item>
</ion-list>
<div padding>
  <button ion-button color="secondary" class="summitbutton" (click)="changePassword()">Get Password</button>
    <p *ngIf="user.email != user.confirmEmail" style="color: red;font-size: small;text-align:center"> Email do not match. </p>
    <p *ngIf="showError" style="color: red;font-size: small;text-align:center"> We are unable to process your request<br> at the moment please try again later. </p>
</div>
</form>
</ion-content>
